@font-face {
    font-family: 'Norican'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Lobster'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Pacifico'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Amantic SC'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Dancing Script'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Satisfy'; 
    font-style: cursive;
}

@font-face {
    font-family: 'Cookie'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Rochester'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Sacramento'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Rancho'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Just Another Hand'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Mogra'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Sue Ellen Fancisco'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Grand Hotel'; 
    font-style: cursive;
}
@font-face {
    font-family: 'Pompiere'; 
    font-style: cursive;
}
